@{
    ViewData["Title"] = "失败连接";
}
<div class="row pt-4">
    <div class="col-6">
        <h2 style="text-align:left">数据库报错</h2>
    </div>
</div>
<br />

<div class="table-wrapper">
    <p>不好意思，应用连不上数据库。</p>
    <p>请等一会再试一下。</p>

</div>

