
navbar {
    background-color: #e8a48f;
    height: 50px;
}

body {
    --light: hsl(0, 0%, 100%);
    --background: linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 50%, 50%));
    left: 20px;
    background-color: steelblue;
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

.prompt-cancel {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    margin: 10px auto;
    padding: 0 5%;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.row-pad {
    margin-top: 0px;
    padding-top: 0px;
}

h1 {
    color: black;
    font-size: 45px;
    text-align: left;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

h33 {
    margin-left: 0px;
    color: black;
    font-size: 30px;
    text-align: end;
    padding-top: 0px;
    padding-bottom: 35px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

.circle {
    background: lightblue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

.circle-comp {
    background: lightblue;
    border-radius: 50%;
    width: 40px;
    height: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-top: 40px;
}

.column2 {
    float: unset;
    margin-top: 2px;
    margin-left: 10px;
}

.column1 {
    float: right;
}

.parent {
    white-space: nowrap;
}

.inline-block-column {
    display: inline-block;
}

.container {
    padding: 0px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.container2 {
    overflow-x: auto;
    padding: 20px;
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(256.6px, 1fr));
}

@media (min-width: 400px) and (max-width: 1100px) {
    .container2 {
        grid-template-columns: repeat(auto-fit, minmax(256.6px, 1fr));
    }
}
    .box1 {
        margin-left: 0px;
        margin-right: 55px;
        padding: 5px;
        text-align: center;
        border-radius: 50px;
        background: #ffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        max-width: 278px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .box2 {
        align-self: center;
        margin-top: 0px;
        margin-left: 0px;
        padding: 15px;
        text-align: center;
        border-radius: 0px;
        background: #ffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        width: 190px;
        max-width: 150px;
        max-height: 50px;
        padding-bottom: 0px;
        padding-top: 3px;
    }

    .box3 {
        text-align: center;
        padding-top: 0px;
        width: 50px;
        height: 55px;
        padding: 0px 0px;
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        align-self: baseline;
        font-size: 29px;
        background: #ffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .box {
        padding: 20px;
        text-align: left;
        border-radius: 2px;
        background: #ffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        max-width: 400px;
    }

        .box img {
            height: 50px;
        }

        .box h3 {
            color: #444;
            padding: 5px 0;
            font-size: 25px;
        }

        .box p {
            color: #777;
            font-size: 15px;
            line-height: 1.6;
            overflow-wrap: break-word;
        }

    .fixed-logo {
        position: fixed;
        top: 0px;
        /*bottom: 0px;*/
        left: 0px;
        width: 100%;
        max-width: 100%;
        height: 10px;
        background-color: #f0f0f0;
        background-image: url("/images/bosch_top.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        z-index: 20000; /* Ensure it's above other elements */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Adjust the clip path as needed */
    }
    .wrong{
        width: 300px;
        height:300px;
    }

    .btn {
        color: #fff;
        border: none;
        outline: none;
        font-size: 17px;
        margin-top: 10px;
        padding: 8px 15px;
        background: #333;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
    }

        .btn:hover {
            letter-spacing: 1px;
            color: khaki;
        }

    .box:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }


    .box3:hover {
        transform: scale(1.03);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 770px) {
        .wrapper {
            padding: 20px;
        }
    }





    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .btn12 {
        align-self: end;
    }

    .h1algn {
        font-size: 35px;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        float: inherit;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }



    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }


    /*tab navigation*/
    .login-logout-card .card-header {
        padding: 0px 0px 12px 0px;
    }

    .login-logout-card ul.nav-tabs {
        margin: 0px 0px -12px 0px;
    }

    .login-logout-card li.nav-item {
        width: 50%;
    }

    .login-logout-card a.nav-link {
        font-size: 1rem;
        color: #495057;
        text-align: center;
        padding: 1rem;
    }

    .login-logout-card .card-body {
        padding: 10px 10px;
    }

    .part_number {
        margin-left: 190px !important;
        min-width: 500px !important;
    }
@media (min-width: 1300px) and (max-width: 1450px) {
    .part_number {
        margin-left: 120px !important;
    }
    .box1 {
        margin-right: 15px;
    }
}

    .custom-col {
        width: 50%;
    }

    @media (min-width: 400px) and (max-width: 1300px) {
        #Line_name_style {
            display: flex !important;
            /*width:3.33%;*/
        }

        #top_titles {
            display: flex !important;
            /*width: 66.33%;*/
        }

        #top_counter {
            display: flex !important;
            /*width: 30.33%;*/
            margin: 0px !important;
        }

        .h2 {
            font-size: 30px;
            padding-left: 0px !important;
        }

        h33 {
            font-size: 20px;
        }

        .part_number {
            margin-left: 0px !important;
        }

        .box2 {
            margin-left: 10px;
            padding: 5px 1px 5px 1px;
            min-width: 150px!important;
            max-height: 40px;
            padding-bottom: 0px;
            padding-top: 5px;
        }

        .box1 {
            margin: 0px !important;
        }

        .custom-col {
            width: 83.33%;
        }
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .modal-dialog {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid black;
        border-radius: 7px;
        box-shadow: 5px 5px 2px #888888;
    }

    .modal .modal-content {
        padding: 50px 100px 100px 100px;
        -webkit-animation-name: modal-animation;
        -webkit-animation-duration: 0.5s;
        animation-name: modal-animation;
        animation-duration: 0.5s;
    }

    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .modal .modal-dialog {
            max-width: 80%;
            width: auto;
        }

    .myModalLabel {
        margin-bottom: 50px;
        font-size: 50px !important;
    }

    .inputs {
        margin-bottom: 10px;
        font-size: 30px !important;
    }

    .modal-content {
        text-align: center;
        font-size: 20px;
    }

    @-webkit-keyframes modal-animation {
        from {
            top: -100px;
            opacity: 0;
        }

        to {
            top: 0px;
            opacity: 1;
        }
    }

    @keyframes modal-animation {
        from {
            top: -100px;
            opacity: 0;
        }

        to {
            top: 0px;
            opacity: 1;
        }
    }

    /* Add this CSS for the overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999; /* Ensure it's above other content */
    }

.wrong {
    width: 300px;
    height: 300px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.table-wrapper {
    margin: 20px 0px 50px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow-x: auto;
}

.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    //white-space:nowrap;
    background-color: white;
}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 10px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 13px;
        color: black;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
    }


        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }

    .fl-table tbody tr:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }
.navbar-nav li:hover {
    transform: scale(1.01);
    background: #4FC3A1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.00);
}
.center {
    text-align: center;
    padding: 15px;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
            color: black;
        }

.btn-current-page {
    background-color: grey;
    color: white;
    border-color: grey;
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 70%, .6);
}

    /* using :target */
    .modal-container:target {
        display: flex;
    }

.modal-upload {
    width: 50rem;
    height: 30rem;
    padding: 4rem 2rem;
    border-radius: 1rem;
    color: var(--light);
    background: var(--background);
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
    position: relative;
    overflow: hidden;
}

.modal__details {
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
}

.modal__title {
    font-size: 3.2rem;
}

.modal__description {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-style: italic;
}

.modal__text {
    padding: 0 4rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 2;
}

    .modal__text::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 100%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 18rem;
        border: 1px solid hsla(0, 0%, 100%, .2);
        border-radius: 100rem;
        pointer-events: none;
    }

.modal__btn {
    padding: 1rem 1.6rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 100rem;
    color: inherit;
    background: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
}

    .modal__btn:hover,
    .modal__btn:focus {
        border-color: hsla(0, 0%, 100%, .6);
        transform: translateY(-.2rem);
    }












@media (max-width: 1000px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}